.row{
    max-width: calc(100% - 30px);
}
.background{
    background-image: url(../img/header-photo.png);
    background-size: cover;
    background-attachment: fixed;
    /* align-items: center;  */
}
.toner{
    background-color: rgba(10, 10, 10, .7);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 39px 30px 0;
}
header .right{
    display: flex;
}
.logo{
    font-size: 34px;
    color: #ffffff;
    font-family: "Raleway";
}
.menu ul{
    display: flex;
}
.menu li{
    list-style-type: none;
    padding:  1rem ;
}
.menu a{
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 300;
}
.menu a:hover{
    color: #c7b299;;
}
.header-icons a{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1.5rem 1.69rem;
}
.search{
    background-image: url(../img/icon-search.svg);
}
.cart{
    background-image: url(../img/icon-cart.svg);
}

.slider{
    display: flex;
    height: 930px;
}
.slider div{
    margin: auto;
    width: 37rem;
    text-align: center;
}
.slider h2{
    font-size: 36px;
    color: #ffffff;
    font-family: "Raleway";
}
.slider h1{
    font-size: 52px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 800;
}
.slider p{
    line-height: 24px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 300;
}
/* .slider*/ .btn{ 
    font-size: 14px;
    font-family: "Raleway";
    font-weight: 800;
}
.services{
    margin: 125px 0 80px;
}
.services h2{
    font-size: 22px;
    color: #555555;
    font-family: "Raleway";
    font-weight: bold;
    text-align: center;
}
.services p{
    font-size: 14px;
    line-height: 24px;
    color: #8c8c8c;
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;
    padding: 1em ;
}
.services a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.web-design{
    background-image: url(../img/web-design.svg);
}
.development{
    background-image: url(../img/development.svg);
}
.customization{
    background-image: url(../img/customization.svg);
}
.marketing{
    background-image: url(../img/marketing.svg);
}
.services .col-xl-3{
    padding: 75px 0 0;
    background-repeat: no-repeat;
    background-position: top center;
}
.services .col-xl-3:hover h2{
    color: #c7b299;
}
.services .col-xl-3:hover p{
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.realization-of-ideas{
    background-color: #fbfaf8;
    padding: 84px 0 0;
}
.realization-of-ideas h2{
    font-size: 30px;
    color: #555555;
    font-family: "Raleway";
    font-weight: bold;
}
.realization-of-ideas p{
    font-size: 16px;
    color: #8c8c8c;
    font-family: "Montserrat";
    font-weight: 300;
}
.realization-of-ideas .back{
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.realization-of-ideas .left{
    background-image: url(../img/browser-left.png);
    position: absolute;
    z-index: 1;
    bottom: 0%;
}
.realization-of-ideas .right{
    background-image: url(../img/browser-right.png);
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 2;
}
.realization-of-ideas .center{
    background-image: url(../img/browser-center.png);
    height: 482px;
    position: absolute;
    left: 50%;
    margin-left: -33%;
    z-index: 3;
}
.screenshots{
    position: relative;
    height: 482px;
    margin: 2.6rem 0 0;
}
.text-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 30px;
    background-color: #251d1a;
}
.text-boxes h3{
    font-size: 28px;
    color: #ffffff;
    font-family: "Raleway";
}
.text-boxes span{
    color: #c7b299;
}
.text-boxes p{
    font-size: 18px;
    color: #615855;
    font-family: "Montserrat";
    font-weight: 300;
}
.latest-projects{
    text-align: center;
    padding: 80px 0;
}
.latest-projects h2{
    font-size: 30px;
    color: #555555;
    font-family: "Raleway";
    font-weight: bold;
}
.latest-projects p{
    font-size: 16px;
    color: #8c8c8c;
    font-family: "Montserrat";
    font-weight: 300;
    width: 770px;
    margin: 0 auto;
}
.latest-projects a{
    display: inline-block;
    text-decoration: none;
    width: 121px;
    font-size: 14px;
    color: #8c8c8c;
    font-family: "Montserrat";
    font-weight: 300;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    padding: 10px 0;
    margin: 40px 0;
}

/* .latest-projects .col-xl-4{
    margin: 15px ;
} */
/* .project01 .project-photo{
    background-image: url(../img/project01.png);
    height: 237px;
} */ 
.latest-projects .col-xl-4 .project01{
    position: relative;
}
.project-photo{
    height: 237px;
    /* width: 370px; */
    overflow: hidden;
}
.project-photo-hover{
    background-color: rgba(10, 10, 10, .7);
    position: absolute;
    top: 0%;
    left: 30px;
    height: 237px;
    width: 100%;
}
.video-presentation{
    background-image: url(../img/video-background.png);
    height: 710px;
}
.video-presentation .toner{
    height: inherit;
    text-align: center;
    padding: 210px 0;
}
.video-presentation h2{
    font-size: 30px;
    color: #ffffff;
    font-family: "Raleway";
}
.video-presentation p{
    width: 571px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 300;
    margin: 0 auto;
}
.video-icon a{
    background-image: url(../img/icon-play.svg);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.icon-toner{
    display: inline-block;
}
.icon-toner:hover{
    background-color: rgba(00, 00, 00, .2);
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.vertical-align{
    display: flex;
    align-items: center;
}
.mobile-devices{
    padding: 78px 78px 0;
    background-color: #fbfaf8;
}
.mobile-devices h2{
    font-size: 30px;
    color: #555555;
    font-family: "Raleway";
    font-weight: bold; 
}
.mobile-devices p{
    margin: 37px 0;
}
.mobile-devices p, .mobile-devices li{
    font-size: 16px;
    color: #8c8c8c;
    font-family: "Montserrat";
    font-weight: 300;
}
.mobile-devices li{
    list-style: none;
    background: url(../img/marker.svg) no-repeat left top;
    padding-left: 50px;
}

.counters{
    background-color: #2a201c;
    text-align: center;
    padding: 70px 0 60px;
}
.counters .number{
    font-size: 48px;
    color: #ffffff;
    font-family: "Montserrat";
    display: block;   
}
.counters .text{
    font-size: 14px;
    color: #c7b299;
    font-family: "Montserrat";
    display: inline-block;
    padding-bottom: 30px;
    background: url(../img/counter-line.svg) no-repeat center bottom;
}
.counters .col-xl-2{
    padding-top: 60px; 
}
.counters .satisfied-clients{
    background: url(../img/satisfied-clients.svg) no-repeat center top;
}
.counters .cups-of-coffe{
    background: url(../img/cups-of-coffe.svg) no-repeat center top;
}
.counters .blog-posts{
    background: url(../img/blog-posts.svg) no-repeat center top;
}
.counters .likes{
    background: url(../img/likes.svg) no-repeat center top;
}
.counters .we-launched{
    background: url(../img/we-launched.svg) no-repeat center top;
}



.parthners{
    background: url(../img/parthners-background.png) center ;
    background-size: 100% auto;

}
.parthners .toner{
    height: 487px;
    display: flex;
    align-items: center; 
}


footer .waxom-information{
    background-color: #191919;
    padding-top: 80px;
}
footer .logo-footer{
    font-size: 34px;;
}
footer .common-information p{
    font-size: 14px;
    color: #555555;
    font-family: "Montserrat";
    margin: 30px 0;
}
footer a{
    text-decoration: none;
}
footer .common-information a{
    font-size: 14px;
    color: #d1d1d1;
    font-family: "Montserrat";
    
}
footer .common-information a::after{
    content: url(../img/read-more-triangle.svg);
    margin-left: 10px;
}
footer h2{
    font-size: 24px;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: bold;
    margin-bottom: 1em;
}
.common-information .date-time{
    font-size: 12px;
    color: #363636;
    font-family: "Montserrat";
}
footer .seporator{
    border-top: solid 1px #242424;
    margin: 1rem 0;
}
footer .date-time{
    font-size: 12px;
    color: #363636;
    font-family: "Montserrat";
    margin: 0px;
}
footer p{
    font-size: 14px;
    color: #555555;
    font-family: "Montserrat";
}
footer .recent-posts a{
    text-decoration: none;
}
footer .recent-posts a:hover .date-time{
    color: #ffffff;
}
footer .recent-posts a:hover .text{
    color: #c7b299;
}
footer .twitter a{
    color: #00bff3;
}
footer .twitter p{
    margin-bottom: 0;
}
.widjet-photo{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 270px;
    height: 206px;
}
.widjet-photo div{
    height: 98px;
    width: 130px;
}
footer .widjet1{
    background: url(../img/widjet1.png) top center;
}
footer .widjet2{
    background: url(../img/widjet2.png) bottom center;
}
footer .widjet3{
    background: url(../img/widjet3.png) center center;
}
footer .widjet4{
    background: url(../img/widjet4.png) center center;
}
footer .footer-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #101010;
    height: 110px;
}
footer .footer-footer div a, .footer-footer span{
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    font-family: "Montserrat";
}
footer .footer-footer div a:hover{
    color: #c7b299;
}
footer .footer-footer .left a::after{
    content: '|';
    padding: 1rem;
}
footer .footer-footer .left :last-child::after{
    content: '';
    padding: 0;
}
footer .right> :first-child::after{
    content: '|';
    padding: 1rem;
}
footer .footer-footer span a{
    color: #959595;
}